@import "~assets/styles/mixins";
@import "~assets/styles/variables";
@import "~assets/styles/keyframes";

.productWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .productImages {
    justify-content: center;
    flex-direction: column;
    overflow: auto;

    background-color: red;

    .mainProductImage {

    }
  }
}