@import "~assets/styles/mixins";
@import "~assets/styles/variables";
@import "~assets/styles/keyframes";

$itemCardBg: #161616;

.itemCommon {
  border-radius: 18px;
  transition: all .3s ease-in-out;
}

.itemCardWrapper {
  @include flexCenterSpace;
  width: 15%;
  margin-bottom: 1rem;
  @extend .itemCommon;

  &:hover {
    box-shadow: $normalBlackShadow;
    transform: scale(1.06) translateY(-10px);

  /*  svg {
      fill: white !important;
    }*/

    .itemCard {
      position: relative;

      .itemCardActions {
        @include positionChanged;
        top: 20%;
        position: absolute;
        display: inline-flex !important;

        .action {
          height: 30px !important;
          @include animation("slideInTopWithOpactity .3s linear")
        }
      }
    }

    .itemCardImage {
      box-shadow: $smallBlackShadow;
    }
  }

  .itemCard {
    @include flexCenterSpace;
    flex-direction: column;
    position: relative;
    width: 100%;

    .itemCardImage {
      height: 220px;
      background-color: $itemCardBg;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      @include animation("scaleIn .6s ease");
      @extend .itemCommon;
    }

    .itemCardActions {
      @include flexCenterSpace;
      display: none;
      justify-content: center;
      margin-top: .6rem;

      .action {
        cursor: pointer;
        margin: 0 .6rem;
      }
    }

    .itemCardText {
      .itemCardTitle {
        font-weight: bolder;
        margin: 1rem 0;
        color: white;
        @include animation("slideInDown .6s ease");
      }

      .itemCardPrice {
        color: #d2d2d2;
        margin-bottom: 1rem;
        @include animation("slideInDown .6s ease");
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .itemCardWrapper {
    width: 48% !important;

    &:hover {
      .itemCardImage {
        box-shadow: none;
      }

     /* svg {
        fill: white !important;
      }*/
    }

  }

  .itemCardActions {
    display: inline-flex !important;
    position: relative !important;
    margin-top: .4rem !important;
  }

  .itemCardText {
    .itemCardTitle, .itemCardPrice {
      font-size: 16px !important;
      margin-top: 0 !important;
      margin-bottom: .4rem !important;
    }

    .itemCardTitle {
      margin-top: .6rem !important;
    }


    .itemCardPrice {
      margin-bottom: .4rem !important;
    }
  }
  .action {
    height: 24px !important;
  }

}


@media screen and (max-width: $breakpointHD) {

  .itemCardImage {
    height: 160px !important;
  }
  .itemCardText {
    .itemCardTitle, .itemCardPrice {
      font-size: 10px;
      text-align: center;
    }

  }
  /*.action {
    height: 16px !important;
  }*/
}