@import "~assets/styles/mixins";
@import "~assets/styles/variables";
@import "~assets/styles/keyframes";

.itemCommon {
  border-radius: 18px;
  transition: all .3s ease-in-out;
}

.itemCardWrapper {
  @include flexCenterSpace;
  width: 15%;
  margin-bottom: 1rem;
  @extend .itemCommon;

  &:hover {
    border: 1px solid $sitePrimaryColor;
    box-shadow: $normalShadow;
    transform: scale(1.06) translateY(-10px);

    .itemCard {
      position: relative;

      .itemCardActions {
        @include positionChanged;
        top: 60%;
        bottom: 60%;
        position: absolute;
        display: inline-flex !important;

        .action {
          height: 30px !important;
          @include animation("slideInTopWithOpactity .3s linear");
        }

        .heartClass {
          &:hover {
            fill: red !important;
            stroke: red;
          }
        }
        .bagClass {
          &:hover {
            fill: $sitePrimaryColor !important;
            stroke: $sitePrimaryColor;
          }
        }
      }
    }

    .itemCardImage {
      box-shadow: $normalShadow;

      .moreDetails {
        //display: inline-flex !important;
        display: none;
        background-color: #2efef6;
        padding: .2rem 1rem;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 50%;
        box-shadow: $smallShadow;
        cursor: pointer;
        transition: .3s ease;
        @include animation("slideInTopWithOpactity .3s linear")
      }
    }
  }

  .itemCard {
    @include flexCenterSpace;
    flex-direction: column;
    position: relative;
    width: 100%;
    cursor: pointer;

    .itemCardImage {
      height: 180px;
      background-color: $carouselBg;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      @include animation("scaleIn .6s ease");
      @extend .itemCommon;

      .moreDetails {
        display: none;
      }
    }

    .itemCardActions {
      @include flexCenterSpace;
      display: none;
      justify-content: center;
      margin-top: .6rem;

      .action {
        cursor: pointer;
        margin: 0 .6rem;
      }
    }

    .itemCardText {
      .itemCardTitle {
        font-weight: bolder;
        margin: 1rem 0;
        @include animation("slideInDown .6s ease");
      }

      .itemCardPrice {
        color: #6e6e6e;
        margin-bottom: 1rem;
        @include animation("slideInDown .6s ease");
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .itemCardWrapper {
    width: 48% !important;

    &:hover {
      .itemCardImage {
        box-shadow: none;

        .moreDetails {
          width: 100%;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 0;
        }
      }
    }

  }

  .itemCardActions {
    display: inline-flex !important;
    position: relative !important;
    margin-top: .4rem !important;
  }

  .itemCardText {
    .itemCardTitle, .itemCardPrice {
      font-size: 16px !important;
      margin-top: 0 !important;
      margin-bottom: .4rem !important;
    }

    .itemCardPrice {
      margin-bottom: .4rem !important;
    }
  }
  .action {
    height: 24px !important;
  }

}


@media screen and (max-width: $breakpointHD) {

  .itemCardImage {
    height: 160px !important;
  }
  .itemCardText {
    .itemCardTitle, .itemCardPrice {
      font-size: 10px;
      text-align: center;
    }

  }
  /*.action {
    height: 16px !important;
  }*/
}