@import "~assets/styles/mixins";
@import "~assets/styles/variables";
@import "~assets/styles/keyframes";


.productMoreInfoMobile {
  display: none;
}

.productMoreInfoDesktop {
  margin-top: 2rem;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  .tabTitles {
    @include flexCenterSpace;
    justify-content: center;

    .tabTitle {
      border-bottom: 1px solid #cccccc;
      padding: 0 2rem 1rem 2rem;
      cursor: pointer;
      transition: all .3s;
    }

    .tabTitleHighlighted {
      border-bottom: 2px solid $sitePrimaryColor;
      font-weight: bold;
    }

  }

  .tabContent {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: $breakpoint) {

  .productMoreInfoDesktop {
    grid-column: 1;
    grid-template-rows: 1fr;
    display: none;
  }
  .productMoreInfoMobile {
    grid-column: 1;
    grid-template-rows: 1fr;
    display: grid;

    .tabTitles {

      .tabTitle {
        @include flexCenterSpace;
        margin-bottom: 1rem;
        padding: .4rem 1rem;
        border: 2px solid #eeeeee;
        border-radius: 4px;
        transition: all .1s ease;

        span {

          &:last-child {
            transform: rotate(-90deg);
          }
        }

      }

      .tabHighlighted {
        border: 2px solid #cccccc;
        border-radius: 4px;
        margin-bottom: 1rem;
      }

      .tabTitleHighlighted {
        background-color: #cccccc;
        border: 2px solid #cccccc;
        padding: .4rem 1rem;
        border-radius: 2px;

        span {
          font-weight: bold;

          &:last-child {
            transform: rotate(90deg);
          }
        }
      }
    }

    .tabContent {
      padding: .2rem 1rem;
      @include animation("fadeInSlideInDown .3s ease")
    }
  }
}