@import "~assets/styles/mixins";
@import "~assets/styles/variables";
@import "~assets/styles/keyframes";

.drawer {
  @include positionChanged;
  top: $commonHeight;
  position: fixed;
  background-color: #f1f1f1;
  width: 30%;
  z-index: 2002;
  overflow: auto;
  @include animation("slideInLeft .6s ease")
}

.drawerClosing {
  @extend .drawer;
  @include animation("reverseSlideInLeft .6s ease")

}

.drawerOverlay {
  @include positionChanged;
  top: $commonHeight;
  position: fixed;
  background-color: #0000004a;
  z-index: 2001;
}

@media screen and (max-width: $breakpoint) {
  .drawer {
    width: 100%;
    margin-top: -1rem;
  }

  .drawerOverlay {
    margin-top: -1rem;
  }
}