@import "~assets/styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  height: $commonHeight;
}

.contentWrapper {
  width: 100%;

  .searchInput {
    border-radius: 8px;
  }
}

