@import "~assets/styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  height: $commonHeight;
}

.mobileSearchWrapper {
  width: 100%;
  padding: .6rem 1rem;

  div {
    border-radius: 8px;
  }
}
