.Header {
  width: 100vw;
  height: 3.2rem;
  overflow-x: hidden;
}

.Navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
//Navbar with store search icons
.nav-wrapper {
  position: relative;
  width: auto;
  padding: 1.1rem 0.7rem 0.3rem 0.7rem;
  display: flex;
  background-color: white;
  border-bottom: 2px solid rgb(221, 219, 219);

  .menu-icon {
    div {
      width: 1.8rem;
      height: 0.15rem;
      background-color: black;
      margin: 6px 0;
    }
  }
  // site Logo
  .logo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;

    img {
      height: 23px;
      width: auto;
    }
  }
  // search, favorite and cart icons
  .icon {
    margin: 0.3rem 0.4rem 0.1rem 0.3rem;
    height: 21px;
    width: auto;
  }
  //search button
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  //favorite and cart
  .info {
    position: relative;
    //cart red items number
    .cart-number {
      position: absolute;
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      border-radius: 50%;
      color: white;
      height: 20px;
      width: 20px;
      background: red;
      top: -0.6rem;
      left: 3.1rem;
    }
  }
}

//Menu
.Menu {
  display: none;
  position: absolute;
  background-color: red;
}
