@import "~assets/styles/mixins";
@import "~assets/styles/variables";
@import "~assets/styles/keyframes";


.mobileWrapper {
  display: none !important;
}


.blackBtn {
  margin-left: 2rem;
  @include flexCenterSpace;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 60px;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  transition: all .3s ease-in;

  &:hover {
    box-shadow: 02px 4px 8px #0000008a;
  }
}


.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  width: 50%;
  margin: 0 auto;

  .title {
    @include flexCenterSpace;
    justify-content: center;
    padding: 2rem;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  .wholeContent {
    display: grid;
    grid-template-rows: 1fr;
    border: 2px solid #cccccc6a;
    border-radius: 4px;
    padding: 1rem;
    grid-row-gap: 2rem;

    .cartHeader, .cartContent {
      display: grid;
      grid-template-columns: 3fr 3fr 3fr 1fr;
      grid-row-gap: 2rem;
      color: white;
    }

    .cartHeader {

      div {
        font-weight: bold;
        font-size: 20px;

        &:first-child {
          margin-left: 2rem;
        }
      }
    }

    .productImage {
      @include flexCenterSpace;
      justify-content: flex-start;

      .itemCardWrapper {
        width: 30%;
        margin-left: 2rem;

        &:hover {
          transform: none;
        }
      }

      .itemCard {
        height: 100px;
      }

      .cartProductTitle {
        font-weight: 700;
        margin-left: 2rem;
      }
    }

    .cartProductPrice, .cartProductTotal, .cartProductRemove {
      @include flexCenterSpace;
      color: #9F9F9F;
      font-weight: 600;
    }


  }

}

.cartProductQuantity {
  @include flexCenterSpace;
  background-color: black;
  color: white;
  margin-top: 2rem;
  height: 40px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 2px 4px #000;
  }
}

.cartProductRemove {
  @include flexCenterSpace;
  justify-content: center !important;
  margin-top: -1rem;

  &:hover {

    span {
      background: #cccccc6a;
      padding: .2rem 1rem;
      cursor: pointer;
      border-radius: 6px;
      box-shadow: $smallShadow;
      font-weight: 700;
      transition: all .3s ease;
    }
  }
}

.disabledApply {
  background-color: #0000004a !important;
  cursor: not-allowed;
  color: #cccccc2a !important;

  &:hover {
    box-shadow: none !important;
  }
}

@media screen and (max-width: $breakpoint) {


  .wrapper {
    grid-template-columns: 1fr;
    grid-column: 1;
    display: none !important;

  }

  .mobileWrapper {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;

    .title {
      @include flexCenterSpace;
      justify-content: center;
      padding: 0 2rem;
      margin-top: 1rem;
      font-size: 40px;
      font-weight: bold;
      color: white;
    }

    .wholeContent {
      width: 94%;
      margin: 0 auto;
      border: 2px solid #cccccc6a;
      border-radius: 6px;
      color: white;

      .cartContent {
        border-bottom: 2px solid #cccccc2a;
        display: grid;
        grid-template-columns: 3fr 3fr 1fr;
        padding-top: 1rem;

        .productImage {
          @include flexCenterSpace;
          justify-content: flex-start;

          .itemCardWrapper {
            width: 80% !important;
            margin-left: 1rem;
            margin-top: 1rem;

            &:hover {
              transform: none;
            }
          }

          .itemCard {
            height: 120px;
          }
        }

        .cartProductTitle {
          font-weight: 700;
          margin-top: 1rem;
        }
      }
    }
  }
  .cartProductRemove {
    @include flexCenterSpace;
    justify-content: flex-start !important;
    flex-direction: row-reverse;
    align-items: flex-start !important;
    margin-right: 1rem;
    margin-top: 1rem;

    &:hover {

      span {
        background: #cccccc6a;
        padding: .2rem 1rem;
        cursor: pointer;
        border-radius: 6px;
        box-shadow: $smallShadow;
        font-weight: 700;
        transition: all .3s ease;
      }
    }
  }
}