@import "~bootstrap/scss/bootstrap";
@import "~assets/styles/variables";

* {
  box-sizing: border-box;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.predefinedHeight {
  margin-top: $commonHeight;
}

.app-container {
  min-height: 150vh;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: $breakpoint) {
  .app-container {
    margin-top: -.6rem;
  }
  .predefinedHeight {
    margin-top: 3.6rem;
  }
}

@media screen and (min-width: $breakpoint4K) {
  .app {
    padding: 0;
    height: 100%;
    width: 80%;
    font-size: 22px;
    margin: 0 auto;
  }
}