@import "~assets/styles/mixins";

@include keyframes(scaleSlideInDown) {
  0% {
    opacity: .6;
    transform: scale(.8) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@include keyframes(fadeInSlideInDown) {
  0% {
    opacity: .6;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(slideInLeft) {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

@include keyframes(slideInLeftCustom) {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}

@include keyframes(slideInRight) {
  100% {
    transform: translateX(-400px);
  }
  0% {
    transform: translateX(0);
  }
}

@include keyframes(slideInRightCustom) {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}

@include keyframes(slideInDown) {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@include keyframes(slideInTop) {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@include keyframes(slideInTopWithOpactity) {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(gradient) {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@include keyframes(scaleIn) {
  0% {
    opacity: .2;
    transform: scale(1.2) translateZ(60px);
  }
  20% {
    opacity: .6;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0);
  }
}
