@mixin flexCenterSpace() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin positionChanged {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin scale3dAnimation {
  animation: scale3d .3s ease;
}

@mixin animation($value) {
  -webkit-animation: #{$value};
  -moz-animation: #{$value};
  -o-animation: #{$value};
  animation: #{$value};
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@keyframes scale3d {
  0% {
    opacity: .2;
    transform: scale(1.1) translateZ(60px);
  }
  20% {
    opacity: .6;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0);
  }
}