$breakpoint: 968px;
$breakpoint4K: 2060px;
$commonHeight: 3.6rem;
$siteColor: #fbfbfb;
$sitePrimaryColor: #2efef6;
$shadowColor: #cccc;
$verySmallShadow: 0 1px 2px $shadowColor;
$smallShadow: 0 2px 4px $shadowColor;
$normalShadow: 0 4px 8px $shadowColor;