@import "~assets/styles/variables";
@import "~assets/styles/mixins";
@import "~assets/styles/keyframes";

.searchBar {
  margin-left: 9rem;
}

.searchBar, .searchBarMobile {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  padding: .5rem;


  .searchInput, .searchInputMobile {
    width: 600px;
    background-color: $siteColor;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

}

.searchBarMobile {
  margin-top: $commonHeight;
  margin-bottom: .5rem;
  border-radius: 0;

  .searchInputMobile {
    @include animation("slideInDown .3s ease");
  }
}

.searchBarMobile ~ .searchOverlay {
  @include positionChanged;
  position: fixed;
  min-height: 100vh;
  z-index: 6;
  top: 2rem;
  border-radius: 8px;
  background-color: $siteColor;
  @include animation("fadeIn .3s ease");
}

@media screen and (max-width: $breakpoint) {
  .searchBar {
    display: none !important;
  }

  .searchBarMobile {
    padding: .6rem;
    margin-left: 1rem;
    position: fixed;
    background-color: $siteColor !important;
    width: 92%;
    z-index: 8;

    .searchInputMobile {
      width: 96%;
    }
  }
  .searchOverlay {
    animation: none !important;
  }
}

@media screen and (min-width: $breakpoint4K) {
  .searchBar {
    margin-left: 9rem;

    .searchInput {
      width: 76em !important;
    }
  }
}
