@import "~assets/styles/mixins";
@import "~assets/styles/variables";

.navbar {
  @include positionChanged;
  position: fixed;
  width: 100%;
  height: $commonHeight;
  z-index: 2000;
}

//Navbar with store search icons
.navWrapper {
  @include flexCenterSpace;
  position: relative;
  padding: .4rem 1.6rem;
  background-color: $siteColor;
  box-shadow: $smallShadow;

  // menu icon and logo
  .menuIconAndLogo {
    @include flexCenterSpace;

    .logoContainer {
      position: relative;
      max-width: 400px;
      height: 30px;
      margin-left: 1rem;

      .logo {
        @include positionChanged;
        position: absolute;
        height: 100%;
      }
    }
  }

  .logoMobileContainer {
    display: none;
  }

  // search, favorite and cart icons
  .icons {
    @include flexCenterSpace;

    .notOnMobile {
      display: inline-flex;
    }

    .icon {
      position: relative;
      cursor: pointer;
      color: black;
      margin: 0 .4rem;
      transition: all .3s ease;

      &:first-child {
        display: none;
      }

      &:hover {
        transform: translateY(-2px);
      }

      .bagBadge {
        position: absolute;
        right: -.6rem;
        top: -.6rem;
        min-width: 20px;
        text-align: center;
        font-size: 10px;
        background-color: $sitePrimaryColor;
        border-radius: 50%;
        padding: .2rem;
        box-shadow: $smallShadow;

      }
    }
  }

}

//Menu
.Menu {
  display: none;
  position: absolute;
  background-color: red;
}

@media screen and (max-width: $breakpoint) {
  .notOnMobile {
    display: none !important;
  }

  .icon {
    &:first-child {
      display: inline-flex !important;
    }
  }
  .logoContainer {
    display: none !important;
  }
  .logoMobileContainer {
    display: inline-flex !important;

    .logo {
      height: 35px;
    }
  }
}